<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-list-header>Inbox</ion-list-header>
      <ion-note>hi&#64;ionicframework.com</ion-note>

      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item routerDirection="root" [routerLink]="p.url" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <!-- <ion-list id="labels-list">
      <ion-list-header>Labels</ion-list-header>

      <ion-item *ngFor="let label of labels" lines="none">
        <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
        <ion-label>{{ label }}</ion-label>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button disabled="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ menu }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ menu }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ menu }}</strong>
    <div ngSwitch="menu === 'inbox'">
      <!-- button to post http request -->
      
    </div>
    <div [ngSwitch]="menu">
      <div *ngSwitchCase="'outbox'">Default Content</div>
      <div *ngSwitchDefault>
        <ion-button *ngSwitchDefault expand="full" fill="clear" (click)="postRequest()">Post Request</ion-button>
        <ion-button *ngSwitchDefault expand="full" fill="clear" (click)="ApiTest()">Api Test</ion-button>

        <ion-item class="uploads">
          <ion-label position="stacked">CSV File</ion-label>
          <input type="file" (change)="fileChanged($event)" accept=".csv">
        </ion-item>
      
        <ion-button class="uploads" expand="block" (click)="uploadFile()">Upload</ion-button>
      </div>
    </div>
  </div>
</ion-content>
